.rregister-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FAF1E4; /* Color verde oscuro */
}

.rregister-form {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #435334; /* Color verde oscuro */
  color: #fff; /* Texto blanco */
  font-family: 'Arial', sans-serif; /* Cambiado a una fuente genérica */
}

.rinput-container {
  margin-bottom: 24px;
}

.retiqueta {
  display: block;
  margin-bottom: 12px;
  color: #fff; /* Texto blanco */
  font-size: 14px; /* Tamaño de fuente ajustado */
}

.entrada {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 16px; /* Tamaño de fuente ajustado */
}

.rbotoneslogin {
  margin-top: 20px;
}

.rboton {
  width: 100%;
  padding: 12px;
  background-color: #435334; /* Color verde oscuro */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px; /* Tamaño de fuente ajustado */
}

.rboton:hover {
  background-color: #2b3e26; /* Cambiado a un tono más oscuro */
}

/* Agregado para centrar el formulario en pantallas pequeñas */
@media (max-width: 480px) {
  .rregister-form {
    margin-top: 50px;
  }
}