/* CSS - LogIn.css */

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #9EB384; /* Cambiado a color verde oscuro */
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #435334; /* Cambiado a color verde oscuro */
  color: #fff; /* Texto blanco */
}

.grupo-formulario {
  margin-bottom: 20px;
}

.etiqueta {
  display: block;
  margin-bottom: 8px;
  color: #fff; /* Texto blanco */
}

.entrada {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.boton {
  width: 100%;
  padding: 10px;
  background-color: #435334; /* Cambiado a color verde oscuro */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton:hover {
  background-color: #2b3e26; /* Cambiado a un tono más oscuro */
}

p {
  text-align: center;
  margin-top: 20px;
  color: #fff; /* Texto blanco */
}

a {
  color: #435334; /* Cambiado a color verde oscuro */
}

/* Nueva regla para el título */
h2.titulo {
  color: #fff; /* Texto blanco */
  margin-bottom: 20px;
}
